body {
  background: #d6beee;

}

* {
  font-family: "Jura", sans-serif;
  margin: 0;
}



.tag {
  border-radius: 30px;
  background: rgba(85, 53, 123, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
}

.label {
  font-family: "Epilogue", sans-serif;
}

.card-item {
  background: #492a6c;
  color: #cda3fb;
  border-radius: 50px;
}

.card-img {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 50px;
}



.ul li a:hover {
  border-radius: 30px;
  background: rgba(206, 164, 251, 0.2);
  box-shadow: 0px 2px 2px 0px #6f4b96;
  color: #f7f2fc;
}

.dropdown-item{
  color: white;
  text-decoration: none;
}

.dropdown-item:hover{
  background-color: #492a6c;
  color: white;
}

.text {
  width: 250px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width:600px){
  .text{
   display: none;
  }

  .card-footer{
    flex-direction: column;
  }
}

.card-footer{
  display: flex; 
  flex-direction:row; 
  justify-content: 
  space-between; 
  align-items:flex-end;
}

.menu-text{
  text-decoration: none;
  color: #dabafc; 
  font-size: 20px;
  
}

.video{
  margin:20px; 
  display:flex; 
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .video{
    width: 300px;
    height:200px;
  }
}

@media only screen and (min-width: 600px) {
  .video{
    width: 450px;
    height:300px;
  }
}

@media only screen and (min-width: 800px) {
  .video{
    width: 650px;
    height:400px;
  }
}



