*{
    font-family: 'Jura', sans-serif;
    margin: 0;
}

body {
    
    background-color: #5A2D89;
    

}

.bg-img{
    height: 110vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="bg-img"] {
    height: 90vh;
    
  }
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  [class*="bg-img"] {
    width: 0;
    
  }
}

.banner-img{
    background-image: url("/root/media/background_png2.png");
    width: fit-content;
    height: 100vh;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.nav-link{

    color: white;
}

.btn1{
    border-radius: 50px;
    background: #936FB9;
}


.header {
    background-color: #333;
    color: white;
    padding: 10px;
}

